<launch>
  <arg name="debug" default="false"/>

  <env if="$(arg debug)" name="ROSCONSOLE_CONFIG_FILE" value="$(find dh_hardware_interface)/rosconsole.conf"/>

  <arg name="host" default="192.168.1.29"/>
  <arg name="port" default="8888"/>

  <rosparam command="load" file="$(find dh_hardware_interface)/config/hardware.yaml"/>
  <rosparam command="load" file="$(find dh_hardware_interface)/config/controllers.yaml"/>

  <!-- Driver -->
  <node name="dh_ag95" pkg="dh_hardware_interface" type="dh_hardware_interface_node" output="screen">
    <param name="tcp/host" value="$(arg host)"/>
    <param name="tcp/port" value="$(arg port)"/>
  </node>

  <!-- Spawn Controllers -->
  <node ns="dh_ag95" name="controller_spawner" pkg="controller_manager" type="spawner"
    args="/dh_ag95/controller/state
          /dh_ag95/controller/position/finger_joint" />

</launch>
