<launch>
  <arg name="debug" default="false"/>

  <env if="$(arg debug)" name="ROSCONSOLE_CONFIG_FILE" value="$(find dh_gripper)/rosconsole.conf"/>

  <arg name="gripper" default="AG-95"/>
  <arg name="gripper_path" value="$(eval find('dh_gripper') + '/config/' + arg('gripper') + '.yaml')"/>

  <arg name="usb" default="/dev/DH_hand"/>

  <arg name="host" default="192.168.1.29"/>
  <arg name="port" default="8888"/>

  <!-- via USB -->
  <!-- <node name="gripper_controller" pkg="dh_gripper" type="dh_controller" output="screen">
    <param name="gripper_model" value="$(arg gripper)"/>
    <param name="usb/port" value="$(arg usb)"/>
    <param name="data_timeout" value="0.05"/>
  </node> -->

  <!-- via TCP -->
  <node name="dh_controller" pkg="dh_gripper" type="dh_controller" output="screen">
    <rosparam ns="gripper" command="load" file="$(arg gripper_path)"/>
    <param name="tcp/host" value="$(arg host)"/>
    <param name="tcp/port" value="$(arg port)"/>
    <param name="data_timeout" value="0.05"/>
  </node>

</launch>
